<div>
  <h1>My tasks</h1>
</div>

<div>
  <ul>
    <% @tasks.each do |task| %>
      <li>
        <% if task.completed == false %>
          <input type="checkbox" >
        <% else %>
          <input type="checkbox" checked>
        <% end %>

        <%= link_to task.title, task_path(task.id) %>
      </li>
    <% end %>

    <%= link_to "Add new task", new_task_path %>
  </ul>
</div>
